:root {
  --light-pink: #f0e3ed;
  --white: rgb(255, 255, 255);
  --black: #000;
  --dark-lilac: #a07297;
  --dark-gray: hsl(60, 1%, 26%);
  --light-grey: hsl(0, 0%, 66%);
  --pink: hsl(338, 70%, 55%);
  --teal-dark: hsl(183, 94%, 21%);
  --teal-light: hsl(183, 70%, 62%);
  --yellow: yellow;
  --purple: hsl(290, 94%, 37%);
  --light-blue: #03c8d6;
  --magenta: #ff27db;
  --orange: hsl(34, 93%, 61%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: "Mooli", sans-serif;
  background-color: var(--white);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

body.dark-mode {
  background-color: var(--dark-gray);
  color: var(--white);
}

img, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
