:root {
  --light-pink: hsl(314, 30%, 92%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-lilac: #a07297;
  --dark-gray: hsl(0, 0%, 29%);
  --light-grey: hsl(0, 0%, 63%);
  --pink: hsl(338, 70%, 55%);
  --teal-dark: hsl(183, 94%, 21%);
  --teal-light: hsl(183, 70%, 62%);
  --yellow: hsl(60, 100%, 50%);
  --purple: hsl(290, 94%, 37%);
  --light-blue: hsl(184, 97%, 43%);
  --magenta: hsl(310, 100%, 58%);
  --orange: hsl(34, 93%, 61%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: "Mooli", sans-serif;
  background-color: var(--light-grey);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

body.dark-mode {
  background-color: var(--dark-gray);
  color: var(--white);
}

img, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
